body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7793e2;
}

.weather-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-input {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.location-input input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.location-input button {
    margin-top: 20px;
    margin-left: 74px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.weather-info {
    text-align: center;
}

.weather-info h2 {
    margin-bottom: 10px;
}

.weather-info p {
    margin: 5px 0;
}
